<div id="footer">
  <div class="pull-left">
    &copy; 2015 BRDDG, LLC
  </div>
  <div class="pull-right hidden-xs">
    <a class="icon-email" href="mailto:hello@brddg.co"></a>
    <a class="icon-twitter" target="_blank" href="http://twitter.com/brddg"></a>
    <a class="icon-dribbble" target="_blank" href="http://dribbble.com/brddg"></a>
    <a class="icon-insta" target="_blank" href="http://instagram.com/brddg"></a>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>
  window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
</script>

<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<script>
  var _gaq=[['_setAccount','UA-50863200-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
