<nav class="nav-block" role="navigation">
    <div class="container-fluid">
        <ul class="nav-list">
          <li>
            <a href="/" class="home">
              <span class="icon-brddg nav-icons"></span>
              brddg
            </a>
          </li>
          <li>
            <a href="/work" class="work">
              <span class="icon-work nav-icons"></span>
              Work
            </a>
          </li>
          <li>
            <a href="https://medium.com/@johnthepink">
              <span class="icon-blog nav-icons"></span>
              Blog
            </a>
          </li>
          <li>
            <a href="/about-us">
              <span class="icon-about nav-icons"></span>
              About
            </a>
          </li>
          <li>
            <a href="/contact">
              <span class="icon-contact nav-icons"></span>
              Contact
            </a>
          </li>
        </ul>
    </div>
</nav>
