<nav class="nav-block" role="navigation">
    <div class="container-fluid">
        <ul class="nav-list">
          <li>
            <a href="/">
              <span class="icon-brddg nav-icons"></span>
              Home
            </a>
          </li>
          <li>
            <a href="/work">
              <span class="icon-plan nav-icons"></span>
              Work
            </a>
          </li>
          <li>
            <a href="https://medium.com/@johnthepink">
              <span class="icon-build nav-icons"></span>
              Blog
            </a>
          </li>
          <li>
            <a href="/about-us">
              <span class="icon-deploy nav-icons"></span>
              About
            </a>
          </li>
          <li>
            <a href="">
              <span class="icon-discover nav-icons"></span>
              Contact
            </a>
          </li>
        </ul>
    </div>
</nav>
