<nav class="navbar navbar-default navbar-white" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="/">
        <span class="icon-brddg"></span>
        <span class="hidden">BRDDG</span>
      </a>

    </div>
    <div class="" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="blog/" class="close"><span class="icon-close"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
