#about
  .header
    background-color: $red
  text-align: center
  h2
    color: $off-black
    padding-bottom: 30px
  .summary
    padding: 100px 0
    width: 50%
    margin: 0 auto

#services
  margin-bottom: 80px
  .icon
    margin-top: 60px
    margin-bottom: 20px
    font-size: 8rem
    color: $red
  h4
    color: $red


#who-we-are
  .col-md-10
    p.small
      margin-bottom: 20px
    h5
      margin-top: 20px
    .icon-social
      border: 2px solid $grey
      padding: 10px
      border-radius: 200px
      margin: 0 5px
      font-size: 1.8rem
      color: $grey
      &:hover
        color: $real-white
        background-color: $red
        text-decoration: none
        border-color: $red
    img
      width: 100%
    .row
      margin-bottom: 80px


#action-block
  padding: 80px 0
  background-color: $red
  h2
    margin-bottom: 20px
    color: $real-white
