#about
  margin-top: 100px
  text-align: center
  h2
    color: $red
  .summary
    width: 50%
    margin: 0 auto

    h1
      color: $red
      margin-bottom: 40px
    .underline
      height: 10px
      width: 300px
      background-color: $red
      margin: 0 auto
      margin-bottom: 80px

#services
  margin-top: 80px
  .icon
    margin-top: 60px
    font-size: 6rem
  h4
    color: $off-black
