#contact
  h2
    display: inline-block
  padding: 180px 0px 60px
  height: 100%
  background-color: $main-color
  margin-bottom: 0
  #submit
    @extend h4
    display: block
    margin: 30px auto
    padding: 10px 60px 11px
    text-transform: uppercase
    color: $real-white
    border: 3px solid $real-white
    border-radius: 200px
    &:hover
      background-color: $real-white
      color: $main-color
      cursor: default
    &.available
      background: $main-color
      color: $off-white
      &:hover
        background: #9a8e5a
        cursor: pointer
  input
    @extend h2
    background: none
    box-shadow: none
    border: none
    height: auto
    border-radius: 0
    color: $real-white
    border-bottom: 10px solid $real-white
  input::-webkit-input-placeholder,
    color: $real-white
    opacity: .5


.dropdown
  padding-right: 30px
  border: none
  border-bottom: 10px solid $real-white
  ul, li
    @extend h4
    background-color: $real-white
    color: $main-color
    border: none
    &:hover
      background-color: darken($main-color, 10%)
    &.active
      background-color: lighten($main-color, 10%)

.dropdown .selected
  @extend h2
  color: $real-white

.form-group
  width: auto
  display: inline-block
