@font-face {
    font-family: 'brddg-icons';
    src:url('/fonts/brddg-icons.eot?tyn5h7');
    src:url('/fonts/brddg-icons.eot?tyn5h7#iefix') format('embedded-opentype'),
        url('/fonts/brddg-icons.ttf?tyn5h7') format('truetype'),
        url('/fonts/brddg-icons.woff?tyn5h7') format('woff'),
        url('/fonts/brddg-icons.svg?tyn5h7#brddg-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'brddg-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-about:before {
    content: "\e900";
}
.icon-video:before {
    content: "\e919";
}
.icon-blog:before {
    content: "\e901";
}
.icon-contact:before {
    content: "\e902";
}
.icon-work:before {
    content: "\e903";
}
.icon-brddg:before {
    content: "\e904";
}
.icon-appleinc:before {
    content: "\e905";
}
.icon-cancel-circle:before {
    content: "\e906";
}
.icon-checkmark:before {
    content: "\e907";
}
.icon-circle-down:before {
    content: "\e908";
}
.icon-circle-left:before {
    content: "\e909";
}
.icon-circle-right:before {
    content: "\e90a";
}
.icon-circle-up:before {
    content: "\e90b";
}
.icon-cross:before {
    content: "\e90c";
}
.icon-dribbble:before {
    content: "\e90d";
}
.icon-github:before {
    content: "\e90e";
}
.icon-instagram:before {
    content: "\e90f";
}
.icon-medium:before {
    content: "\e910";
}
.icon-pausecircle:before {
    content: "\e911";
}
.icon-pause:before {
    content: "\e912";
}
.icon-playcircle:before {
    content: "\e913";
}
.icon-play:before {
    content: "\e914";
}
.icon-stopcircle:before {
    content: "\e915";
}
.icon-stop:before {
    content: "\e916";
}
.icon-twitter:before {
    content: "\e917";
}
.icon-vimeo:before {
    content: "\e918";
}
