html, body
  height: 100%

#wrap
  min-height: 100%
  height: auto
  margin: -50px auto -60px
  padding: 50px 0 60px
  &.no-header
    margin-top: 0
    padding-top: 0

.col-md-offset-2-5
  @media (min-width: 992px)
    margin-left: 20.7%

input[type='text']
  font-family: 'ProximaNova-Regular'
  font-size: 1.3rem

a.close
  display: block
  position: absolute
  font-size: 3.2rem
  opacity: .5
  top: 10px
  right: 15px
  height: 34px
  color: $off-white
  text-shadow: none
  &:hover
    opacity: 1
    text-decoration: none

.header
  text-align: center
  color: $real-white
  padding: 15vh 0 20vh
  width: 100%
  // background: transparent url('/img/hero.jpg') no-repeat center center
  background-size: cover
  background-color: $orange
  @media (max-width: 767px)
    height: 490px
  @media (max-width: 400px)
    height: 187px
  @media all and (-webkit-min-device-pixel-ratio: 1.5)
    background: transparent url('/img/hero@2x.jpg') no-repeat center center
    background-size: cover
  h1
    margin-bottom: 20px
    @media (max-width: 767px)
      font-size: 4.2rem
      line-height: 55px
      padding: 0 20px
    @media (max-width: 400px)
      font-size: 3.0rem
      line-height: 40px
      margin-top: 30px
      margin-bottom: 0
  p
    // font-size: 2.6rem
    margin-bottom: 20px


.header-button
  @extend h4
  display: inline-block
  padding: 20px 60px
  margin: 0 auto
  border-radius: 200px
  color: $off-white
  text-transform: uppercase
  background: none
  border: 3px solid $real-white
  border-radius: 1000px
  &:hover
    text-decoration: none
    background: $real-white
    color: $orange
  &:focus, &:active
    text-decoration: none
    color: $off-white

.alert-success
  font-family: 'BrandonGrotesque-Bold'
  color: $gold
  text-transform: uppercase
  letter-spacing: 1px
  text-align: center
  background-color: #fff
  border-radius: none

  button
    font-size: 32px
    opacity: .5
    color: $gold
    &:hover
      color: darken($gold, 10%)
      opacity: 1

.navbar-default
  background-color: $real-white
  color: $off-black
  border-width: 0
  border-radius: 0
  margin-bottom: 0
  .navbar-toggle
    border-width: 0
    background: transparent !important
    .icon-bar
      background: $off-white
      width: 25px
      height: 4px
      border-radius: 0
    &:hover
      background: transparent
      .icon-bar
        background: $gold
  .navbar-collapse
    border-width: 0
    box-shadow: none

  .navbar-brand
    font-size: 2.4rem
    color: $off-white
    &:hover
      color: $gold
  .navbar-nav
    li
      a
        @extend h5
        text-transform: uppercase
        color: $off-white
        padding: 15px 20px
        font-size: 1.2rem
        letter-spacing: 0.125rem
        @media (max-width: 900px)
          padding: 15px 10px
        &:hover
          color: $gold
        &:focus, &:active
          color: $off-white
      &.gold
        background: $gold
        width: 160px
        text-align: center
        margin-right: -15px
        a
          &:hover
            background: darken($gold, 10%)
            color: $off-white
        @media (max-width: 900px)
          width: 130px
        @media (max-width: 767px)
          background: transparent
          width: auto
          text-align: left
          margin-right: 0
          a
            color: $off-white
            &:hover
              background: transparent
              color: $gold

  &.navbar-white
    background-color: $real-white
    .navbar-brand
      color: $gold
    .navbar-nav
      li
        a.close
          color: $grey
          display: block
          position: fixed
          font-size: 3.2rem
          z-index: 9999


.nav-icons
  display: block
  font-size: 4rem
  padding-bottom: 12px

.nav-block
  border-top: 1px solid $grey
  border-bottom: 1px solid $grey
  text-align: center
  padding: 30px 0
  background: white
  text-transform: uppercase

  .nav-list
    margin: auto
    max-width: 70%
    display: flex

  .nav-list li
    list-style: none
    display: inline-block
    flex-grow: 1
    a
      color: $off-black
      text-decoration: none
      &:hover, &:active, &:focus
        color: $light-blue

#hero
  max-height: 720px


#footer
  height: 60px
  width: 100%
  background: $off-black
  padding: 25px
  color: $off-white
  .pull-left
    @extend h5
    @media (max-width: 767px)
      float: none
      width: 100%
      text-align: center
  .pull-right
    a
      color: $off-white
      font-size: 1.2rem
      margin-left: 10px
      &:hover
        color: $gold
        text-decoration: none

#thanks
  margin-bottom: 0
  display: none
