#work

#work-header
  background: $light-blue

  .header-button:hover
    color: $light-blue

.work-card
  position: relative
  overflow: hidden
  margin: 20px

  .work-card-item
    width: 49%
    display: inline-block
    .work-card-image
      background: $grey url('../img/image1@2x.jpg')
      background-position: center center
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      background-size: cover
      background-repeat: no-repeat
      position: absolute
      top: 0
      bottom: 0
      width: 50%
    .work-card-info
      position: relative
      padding: 60px
      h2
        padding-bottom: 10px
      p.intro
        margin-bottom: 20px


#wi1
  h2, .header-button
    color: $orange
  .header-button
    border-color: $orange
    &:hover
      background: $orange
      color: $real-white

#wi2
  h2, .header-button
    color: $red
  .header-button
    border-color: $red
    &:hover
      background: $red
      color: $real-white

#accolade
  background: $off-white
  width: 100%
  padding: 8% 20%

.accolade-photo
  display: inline-block
  height: 120px
  width: 120px
  border-radius: 2000px

.accolade-info
  display: inline-block
  vertical-align: top
  padding-left: 20px
  width: 80%

#ac1
  background: $grey url('../img/image1.jpg')
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-repeat: no-repeat
